<div class="mb-3">
  <h5>create new user</h5>

  <!-- email validation  ^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$-->
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">

  <!-- validate using ^((\\+91-?)|0)?[0-9]{10}$") -->
  <label for="exampleFormControlInput1" class="form-label">phone</label>
  <input type="tel" class="form-control" id="exampleFormControlInput1" placeholder="9174542454">
</div>
